<script>
  <% ['HC03_VC04', 'HC03_VC30', 'HC03_VC31', 'HC03_VC33', 'HC01_VC90'].each do |column| %>
    Maptastic.dataHash["<%=column%>"] = [];
    <% Database.get_data(column).each_with_index do |v, i| %>
    Maptastic.dataHash["<%=column%>"].push([<%="#{v['lat'].to_s}"%>, <%="#{v['lon'].to_s}"%>, <%="#{v['weight'].to_s}"%>]);
    <% end %>
  <% end %>
</script>

<div class="search">
  <input type="text" placeholder="Search..." class="search-input">
  <input type="button" class="search-button" value="Search">
</div>

<div id="map-container"></div>
